@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/Scripts/calculator.js")

<div class="row">
    <div class="col-md-4">
        <h2>Calculator</h2>
        <p>Input text expression:</p>
        <p><input type="text" id="expression" class="form-control"/></p>
        <p><input type="submit" value="Calculate" id="calculate" class="btn btn-default"/></p>
        <p>Example: Max(2,4,3)</p>
        <p>Don't forget case sensitive of functions and constants</p>
    </div>
    <div class="col-md-4" id="calculating">
        <h2>Calculating</h2>
    </div>
    <div class="col-md-4" id="calculated">
        <h2>Calculated</h2>
    </div>
</div>